.ant-layout-header.header {
    background-color: var(--main-background-color);
}

.ant-input-group-wrapper.ant-input-search {
    display: inline-block;
    margin-top: 15px;
}

#search-input {
    width: 200px;
}

@media (max-width: 608px) {
    #search-input {
        width: 100px;
    }
}

@media (max-width: 525px) {
    #root>section>section>header>div>div.ant-affix>div>div>ul>li:nth-child(3) {
        display: none;
    }
}